<div class="container">
    <div class="row">

      <div class="col-sm-6">
        <img src="/images/portrait2.jpg" alt="Error Mac">
      </div>

      <div class="col-sm-6">
        <h1>About</h1>
        <p>
            All images on <em>Digital Photography, Film Photography,</em> and <em>Print Making</em> pages are taken by myself. Both portraits of myself on this <em>About</em> page and the <em>Home</em> page are taken by <a href="http://www.michellelockwood.com/" target="_blank">Michelle Lockwood Photography</a>.
        </p>
      </div>
  </div>
</div>