<div class="container">
        <div class="row">

          <div class="list-container">
            <% contacts.forEach(s => { %>
            <div class="contacts">
              <p>
                <span class="item-label">Name:</span>
                <%= s.name %>
              </p>
              <p>
                <span class="item-label">Email:</span>
                <%= s.email %>
              </p>
            </div>
            <% }); %>
          </div>
      
      
        </div>
      </div>  