<body>
  <div class="galleria">
    <img src="images\blood_moon.jpg">
    <img src="images\china_town_nyc.jpg">
    <img src="images\china_town_nyc2.jpg">
    <img src="images\falls_near_meligne_lake_jasper_alberta.jpg">
    <img src="images\falls_near_meligne_lake_jasper_alberta2.jpg">
    <img src="images\freedom_tower_angle1.jpg">
    <img src="images\glacier_river_lake_louise_alberta.jpg">
    <img src="images\glass&metal_walk_jasper_alberta.jpg">
    <img src="images\ground_zero_b&w.jpg">
    <img src="images\ground_zero_b&w2.jpg">
    <img src="images\ground_zero_rose.jpg">
    <img src="images\ground_zero_rose2.jpg">
    <img src="images\lake_louise_alberta.jpg">
    <img src="images\lake_louise_long_exposure_evening_alberta.jpg">
    <img src="images\lake_louise_moon_alberta.jpg">
    <img src="images\lake_louise_stream_alberta.jpg">
    <img src="images\lightning_winnipeg_manitoba.jpg">
    <img src="images\memorial_plaza_nyc.jpg">
    <img src="images\minneapolis_skyline.jpg">
    <img src="images\minnehaha_falls.jpg">
    <img src="images\minnehaha_falls_long_exposure.jpg">
    <img src="images\my_eye.jpg">
    <img src="images\skyline_themillproductions_roofdeck.jpg">
    <img src="images\stephen_avenue_mall_8th_ave_calgary.jpg">
    <img src="images\the_mill_productions_roof_nyc.jpg">
    <img src="images\times_square.jpg">
    <img src="images\times_square_snow_storm.jpg">
    <img src="images\wedding_veil_falls_jasper_alberta.jpg">
    <img src="images\weisman_museum_twincities.jpg">

  </div>
  <script>
    (function() {
      Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
      Galleria.run('.galleria');
    }());
  </script>
</body>