<div class="container">
    <div class="row">

      <div class="col-sm-3">
        <img src="/images/alanna.jpg" alt="Alanna Portrait">
        <img src="/images/mac.jpg" alt="Macintosh Plus 2mb">
      </div>

      <div class="col-sm-6">
        <h1>Film Photography</h1>
        <p>
        <center>
            Film photography is a passion of mine. The process of developing and creating the photographs you take is much different than snapping a digital photo. Here are just four examples of different styles I use. From a simple portrait, to a double exposure, to objects in a studio, to cityscapes. 
        </center>
        </p>
      </div>

      <div class="col-sm-3">
        <img src="/images/belladouble.jpg" alt="Bella Double Exposure">
        <img src="/images/wabashabridge.jpg" alt="Wabasha Street Bridge"></div>
  </div>
</div>