<div class="container">
        <div class="row">
    
          <div class="col-sm-3">
            <img src="/images/room.jpg" alt="My Room - Linocut">
            <img src="/images/best100.png" alt="Awarded Twin Cities Best 100 Award">
          </div>
    
          <div class="col-sm-6">
            <h1>Printmaking</h1>
            <p>
            <center>
                I took a printmaking class in high school with no idea what it entailed. After taking the class for a trimester, two of my prints ended up winning awards in the Twin Cities and the state of Minnesota. On the left is a Linocut print of simply my room which won a Twin Cities Best 100 award. The Twin Cities Best 100 takes 100 entries from all Twin Cities high schools and then picks just 100 for the whole of the Twin Cities. On the right is a silkscreen print of the Calgary Tower in Calgary, Alberta, Canada. This won a Silver Key award from the Scholastic Art & Writing Awards.
            </center>
            </p>
          </div>
    
          <div class="col-sm-3">
            <img src="/images/calgarytower.jpg" alt="Calgary Tower - Silk Screen">
            <img src="/images/scholastic.jpg" alt="Awarded Scholastic Silver Key Award"></div>
      </div>
    </div>