body {background-color: #646464;
    background-image: url(ocean.jpg);}
@font-face {font-family: my_font_1;
    src: url(tool.ttf);}
div#main {position: relative;
    box-sizing: border-box;
    background-color: rgba(74, 74, 74, 0.8);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.54);
    width: 1000px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;}
header {position: static;
    box-sizing: border-box;
    width: 1000px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.57);
    color: white;
    font-size: 90px;
    font-family: my_font_1;
    text-align: center;
    padding: 10px;}
nav {position: static;
    box-sizing: border-box;
    background-color: rgba(36, 36, 36, 0.57);
    height: 60px;
    width: 1000px;
    font-family: my_font_1;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;}
aside#left {position: static;
    box-sizing: border-box;
    height: 730px;
    width: 100px;
    float: left;}
article {position: static;
    box-sizing: border-box;
    height: 730px;
    width: 800px;
    font-family: courier new;
    color: white;
    padding: 20px;
    text-align: left;
    float: left;
    overflow: auto;}
aside#right {position: static;
    box-sizing: border-box;
    height: 730px;
    width: 100px;
    float: left;}
footer {position: static;
    box-sizing: border-box;
    clear: both;
    width: 1000px;
    height: 40px;
    padding-top: 12px;
    color: #a7a7a7;
    font-size: 13px;
    font-family: arial;
    text-align: center;
    background-color: rgba(41, 41, 41, 0.28);}
nav a {font-family: my_font_1;
    font-size: 30px;   
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border: 1px solid #141414;
    border-radius: 5px;}
nav a:link {color: #dedede;
    background-color: #606060;
    box-shadow: 4px 4px 0px #0b0b0b;}
nav a:visited {color: white;
    background-color: #606060;
    box-shadow: 4px 4px 0px #0b0b0b;}
nav a:hover {color: white;
    background-color: #606060;
    box-shadow: 6px 6px 0px #0b0b0b;
    transform: translate(-2px, -2px);}
nav a:active {color: black;
    background-color: white;
    box-shadow: 0px 0px 0px #0b0b0b;
    transform: translate(2px, 2px);}
footer a {color: #a7a7a7;}
footer a:visited {color: #a7a7a7;}
footer a:hover {color: white;}
footer a:active {color: black;}